<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:fragment="atmlistFrag" >
        <select name="atm">
            <option> -- Select One --</option>
            <option th:each="atm : ${atmList}" th:value="atm" th:text="${atm.atmId}" ></option>
        </select>
    </div>

    <div th:fragment="sitelistFrag" >

    </div>
</body>
</html>