<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:fragment="atmlistFrag">
        <div class="col-md-4">
            <label>Selected ATM:</label>
            <select id="atmSelection">
                <option disabled selected> -- Select One --</option>
                <option th:each="atm : ${atmList}" th:value="${atm.atmId}" th:text="${atm.atmId}" ></option>
            </select>
        </div>
    </div>

    <div th:fragment="atmFullFrag" >
        <form action="/step3" id="form1" method="post" th:object="${atmIn}">
        <div class="row col-md-12" >

            <input type="hidden" th:field="*{atmId}">
            <div class="col-md-5">
                <label>ATM Type</label>
                <input type="text" th:field="*{atmType}">
            </div>

            <div id="row2Sel3" class="col-md-3">
                <label>Site Type</label>
                <select th:field="*{siteType}">
                    <option th:each="site : ${siteList}" th:value="${site}" th:text="${site}"></option>
                </select>
            </div>
            <div id="row2Sel4" class="col-md-4">
                <label>Ownership Type</label>
                <select th:field="*{ownershipType}">
                    <option th:each="ownership : ${ownershipTypeList}" th:value="${ownership}" th:text="${ownership}"></option>
                </select>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-5">
                <label>N/W Type</label>
                <select th:field="*{networkType}">
                    <option th:each="nwType : ${nwTypeList}" th:value="${nwType}" th:text="${nwType}"></option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Oem</label>
                <select th:field="*{oem}" th:value="${atmIn.oem}">
                    <option th:each="oemIn : ${oemList}" th:value="${oemIn}" th:text="${oemIn}"></option>
                </select>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-5">
                <label>Model</label>
                <select th:field="*{model}" >
                    <option th:each="modeln : ${modelList}" th:value="${modeln}" th:text="${modeln}"></option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Phase</label>
                <select th:field="*{msVendor}" >
                    <option th:each="msVendor : ${msVendorList}" th:value="${msVendor}" th:text="${msVendor}"></option>
                </select>
            </div>
        </div>
        </form>
    </div>

</body>
</html>