<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SBI ATM Alerts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/style.css" th:href="@{/css/style.css}" />
    <script>
        function submit()
        {
            document.getElementById('form1').submit();
        }
    </script>

</head>

<body>

    <div th:include="header :: copy"> </div>

    <form action="/step3" id="form1">
        <p>Select One: </p>
        <input type="radio" name="typeSel" value="area" />
        <input type="radio" name="typeSel" value="branch" />
        <fieldset>
            <legend>ATM Info:</legend>
            <p>PIN CODE:</p>
        </fieldset>

        <div>
            <a href="#" class="previous" onclick="javascript:submit()">Previous &raquo;</a>
            <a href="#" class="next" onclick="javascript:submit()">Next &raquo;</a>
        </div>

    </form>
</body>

</html>

