<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SBI ATM Alerts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <div th:include="header :: stylesall"> </div>
    <script>

        function goback()
        {
            window.href.location='localhost:8080'
        }
        function submit()
        {
            document.getElementById('form1').submit();
        }

        function retrieveStates() {
            var url = '/atmList';

            $("#atmSelect").load(url);
        }

        $(document).ready(function(){
            $( "#datepicker" ).datepicker();
        });
    </script>

</head>

<body>


    <div class="container" >

        <div th:include="header :: copy"> </div>

        <form action="/step4" id="form1" method="post" >
            <div class="row sbirow">
                <div class="col-md-4 form-group">
                    <label class="col-md-6">Branch</label>
                    <input class="form-control" type="text" th:field="${br.branchName}" >
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-md-6">ATM</label>
                    <input class="form-control" type="text" th:field="${atmIn.atmId}" disabled>
                </div>
            </div>

            <label class="col-md-6" style="color:blue">Branch Manager</label>

            <div class="row sbirow" th:object="${brmgr}">
                <div class="col-md-4 form-group">
                    <label class="col-md-6">PF ID:</label>
                    <input class="form-control" type="text" th:field="*{pfId}">
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-md-6">Name:</label>
                    <input class="form-control" type="text" th:field="*{name}" >
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-md-6">Phone:</label>
                    <input class="form-control" type="text" th:field="*{mobileNumber}" >
                </div>
            </div>

            <div class="row sbirow" th:object="${brmgr}">
                <div class="col-md-4 form-group">
                    <label class="col-md-6">Email ID:</label>
                    <input class="form-control" type="text" th:field="*{emailIdOfficial}" >
                </div>
                <div class="col-md-6 form-group">
                    <label class="col-md-6">Designated Email ID:</label>
                    <input class="form-control" type="text" th:field="*{emailIdDesignated}" >
                </div>
            </div>

            <label class="col-md-6" style="color:blue">ATM Officer</label>

            <div class="row sbirow" th:object="${atmofr}">
                <div class="col-md-4 form-group">
                    <label class="col-md-6">PF ID:</label>
                    <input class="form-control" type="text" th:field="*{pfId}">
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-md-6">Name:</label>
                    <input class="form-control" type="text" th:field="*{name}">
                </div>
                <div class="col-md-4 form-group">
                    <label class="col-md-6">Phone:</label>
                    <input class="form-control" type="text" th:field="*{mobileNumber}">
                </div>
            </div>

            <div class="row sbirow" th:object="${atmofr}">
                <div class="col-md-4 form-group">
                    <label class="col-md-6">Email ID:</label>
                    <input class="form-control" type="text" th:field="*{emailIdOfficial}">
                </div>
            </div>

            <div class="row sbirow">
                <label>Select ATMs at Site</label>
                <select name="cnt">
                    <option th:each="n : ${#numbers.sequence(1,53)}" th:value="${n}" th:text="${n}"></option>
                </select>
            </div>

            <div class="row sbirow">
                <label>Target Date</label>
                <input type="text" id="datepicker" name="tgtDate">
            </div>

            <div>
                <a href="#" class="previous" onclick="javascript:goback()" style="float:left">Previous &raquo;</a>
                <a href="#" class="next" onclick="javascript:submit()" style="float:right">Next &raquo;</a>
            </div>

        </form>
    </div>

</body>

</html>

